[Unit]
Description=Hyprland Calendar Reminders Background Notification Daemon
After=graphical-session.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/ferram/.local/bin/hypr-reminders daemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
